
  <div class="login-container">
    <h2 style="margin: auto">Inloggen </h2>
    <form [formGroup]="loginFormulier
    " (ngSubmit)="onSubmit()">

      <div class ="form-group">
        <label for="naam">Gebruikersnaam:</label>
        <input type="text" class="form-control" formControlName="naam" id="naam" autocomplete="off">
        <div class="error" *ngIf="loginFormulier.controls['naam'].hasError('required')&&loginFormulier.controls['naam'].touched">Gelieve een gebruikersnaam in te vullen</div>
      </div>
      <div class ="form-group">
        <label for="wachtwoord">Wachtwoord:</label>
        <input type="text" class="form-control" formControlName="wachtwoord" id="wachtwoord" autocomplete="off">
        <div class="error" *ngIf="loginFormulier.controls['wachtwoord'].hasError('required')&&loginFormulier.controls['wachtwoord'].touched">Gelieve je wachtwoord in te vullen</div>
      </div>
      <button class="btn-success" [disabled]="loginFormulier.invalid">Login</button>
      <div *ngIf="fouteGegevens" class="error">
        <div>Incorrecte combinatie naam/wachtwoord</div>
      </div>
    </form>
  </div>



