<p>opdracht.lijst works!</p>

<table class="table table-striped">
<thead>
<tr>
  <th (click)="veranderSortMethod('id');updateList();" onmouseover="" style="cursor: pointer;">Id</th>
  <th (click)="veranderSortMethod('naam');updateList();" onmouseover="" style="cursor: pointer;">Naam</th>
  <th (click)="veranderSortMethod('belangrijkheid');updateList();" onmouseover="" style="cursor: pointer;">Belangrijkheid</th>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor="let opdracht of opdrachten">
  <td>{{opdracht.id}}</td>
  <td>{{opdracht.naam}}</td>
  <td>{{opdracht.belangrijkheid}}</td>
  <td><button class="btn btn-success" (click)="wijzig(opdracht)" style="margin-left: 20px;"> Wijzig</button></td>
  <td><button class="btn btn-success" (click)="verwijder(opdracht)" style="margin-left: 20px;"> Verwijder</button></td>
</tr>
</tbody>
</table>
<button class="btn btn-success" (click)="maakOpdracht()" style="margin-left: 20px;"> Maak</button>
